$dark-green: #12372A;
$green: #436850;
$sage: #ADBC9F;
$light: #FBFADA;

@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin.ttf');
}

@font-face {
    font-family: 'jost';
    src: url('../fonts/jost.ttf');
}